[submodule "udp"]
	path = udp
	url = git@github.com:wmnlab-moxa/udp-experiment.git
[submodule "mobileinsight"]
	path = mobileinsight
	url = git@github.com:wmnlab-moxa/mobileinsight-lib.git
[submodule "Dynamic-Band-Locking"]
	path = Dynamic-Band-Locking
	url = git@github.com:qznwpfqbgw/Dynamic-Band-Locking.git
