Default:
  Type: "TCPv1" # This will match the key of Config
  Mode: "s" # s: server c: client the server side won't 
  LogDir: logs
  Device: [] # For mobileInsight
  TcpDump:
    - Interface: enp4s0 # -i 
      Port: "1234" # port
      FileSize: "500" # -C
      # Other:
      #   Flag:
      #   Value:
    - Interface: eth0 # -i 
      Port: "'(1234 or 2468)'" # port
      FileSize: "500" # -C
      # Other:
      #   Flag:
      #   Value:

TCPv1:
  Entry: "iperf3" # Executable binary file or command
  Bitrate:
    Flag: -b
    Value: 1M
  Mode:
    Flag: -c
    Value: "127.0.0.1"
  LogDir:
    Flag: --logfile