// Samsung Galaxy A42 5G
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6864", ATTRS{serial}=="R5CRA1ET5KB", NAME="sm00"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6860", ATTRS{serial}=="R5CRA1ET5KB", NAME="sm00"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6864", ATTRS{serial}=="R5CRA1D2MRJ", NAME="sm01"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6860", ATTRS{serial}=="R5CRA1D2MRJ", NAME="sm01"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6864", ATTRS{serial}=="R5CRA1GCHFV", NAME="sm02"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6860", ATTRS{serial}=="R5CRA1GCHFV", NAME="sm02"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6864", ATTRS{serial}=="R5CRA1JYYQJ", NAME="sm03"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6860", ATTRS{serial}=="R5CRA1JYYQJ", NAME="sm03"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6864", ATTRS{serial}=="R5CRA1EV0XH", NAME="sm04"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6860", ATTRS{serial}=="R5CRA1EV0XH", NAME="sm04"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6864", ATTRS{serial}=="R5CRA1GBLAZ", NAME="sm05"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6860", ATTRS{serial}=="R5CRA1GBLAZ", NAME="sm05"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="R5CRA1ESYWM", NAME="sm06"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="R5CRA1ET22M", NAME="sm07"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="R5CRA2EGJ5X", NAME="sm08"

// Xiaomi-10T 5G
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="73e11a9f", NAME="xm00"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="491d5141", NAME="xm01"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="790fc81d", NAME="xm02"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="e2df293a", NAME="xm03"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="28636990", NAME="xm04"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="f8fe6582", NAME="xm05"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="d74749ee", NAME="xm06"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="10599c8d", NAME="xm07"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="57f67f91", NAME="xm08"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="232145e8", NAME="xm09"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="70e87dd6", NAME="xm10"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="df7aeaf8", NAME="xm11"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="e8c1eff5", NAME="xm12"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="ec32dc1e", NAME="xm13"
// SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="", NAME="xm14"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="64545f94", NAME="xm15"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="613a273a", NAME="xm16"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="fe3df56f", NAME="xm17"

// Quectel RM500Q-GL
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="76857c8" , NAME="qc00"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="bc4587d" , NAME="qc01"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="5881b62f", NAME="qc02"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="32b2bdb2", NAME="qc03"

SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="345022ef", NAME="m11"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="b51fc56d", NAME="m12"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="98295205", NAME="m21"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="6e8d46d0", NAME="m22"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="48891fdc", NAME="m31"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="86667477", NAME="m32"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="54a942c6", NAME="m41"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="4af8828e", NAME="m42"



