# stoptask2.timer
[Unit]
Description= 在某時間停止 task2.service
[Timer]
OnCalendar= *-*-* 22:42:00
Unit= stoptask2.service
[Install]
WantedBy= timers.target