# task1.timer
[Unit]
Description= 在某時間段中每分鐘都執行 task1.service

[Timer]
OnCalendar= *-*-* 20..23:*:0/10
Unit= task1.service

[Install]
WantedBy=multi-user.targe