# task2.service
[Unit]
Description= 運行 task2.service 任務
Conflicts= task2.timer

[Service]
Type= simple
ExecStart= /path/to/main.py -c config1.yml
ExecStop= /bin/kill -2 $MAINPID

[Install]
WantedBy= multi-user.targe