# task2.timer
[Unit]
Description= 在某時間段中每分鐘都執行 task2.service

[Timer]
OnCalendar= *-*-* 17..19:*:00
Unit= task2.service

[Install]
WantedBy= basic.target